<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head-fragment :: title('Editar Alumno')"/>
</head>
<body>

<div class="wrapper">
    <th:block th:include="fragments/sidebar-fragment"/>
    <th:block th:include="fragments/header-fragment"/>
</div>

<div class="page-wrapper">
    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <h6 class="text-uppercase">Editar Alumno</h6>
                <hr>

                <form class="row g-3" action="#" th:action="@{/alumnos/editar}" th:object="${alumno}"
                      method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="col-md-4">
                        <label for="input1" class="form-label">Nombre completo</label>
                        <input type="text" class="form-control" id="input1" placeholder="Nombre completo"
                               th:field="*{nombre}" required>
                    </div>
                    <div class="col-md-4">
                        <label for="apellidopaterno" class="form-label">Apellido paterno</label>
                        <input type="text" class="form-control" id="apellidopaterno" placeholder="Apellido paterno"
                               th:field="*{ape_paterno}" required/>
                    </div>
                    <div class="col-md-4">
                        <label for="apellidomaterno" class="form-label">Apellido materno</label>
                        <input type="text" class="form-control" id="apellidomaterno" placeholder="Apellido materno"
                               th:field="*{ape_materno}" required/>
                    </div>

                    <div class="col-md-6">
                        <label for="input11" class="form-label">Dirección</label>
                        <textarea class="form-control" id="input11" placeholder="Dirección ..." rows="3"
                                  th:field="*{direccion}" required></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="input4" class="form-label">Correo del tutor</label>
                        <input type="email" class="form-control" id="input4" placeholder="Correo"
                               th:field="*{correo_tutor}" required/>
                    </div>

                    <div class="col-md-6">
                        <label for="input6" class="form-label">Fecha nacimiento</label>
                        <input type="date" class="form-control" id="input6" placeholder="Fecha nacimiento"
                               th:field="*{fecha_nacimiento}" required/>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Grupo</label>

                        <input type="hidden" class="form-control" id="grupo" th:value="${idGrupo}" th:field="*{grupo}"/>

                        <select id="input19" class="form-select" required>

                            <option th:each="grupo : ${grupos}"
                                    th:value="${grupo.id}"
                                    th:text="${grupo.nombre}"
                                    th:selected="${idGrupo == grupo.id}">Grupo
                            </option>
                        </select>


                    </div>

                    <script>
                        // Capturar el evento change del select de roles
                        document.getElementById('input19').addEventListener('change', function () {
                            // Obtener el valor seleccionado del select de roles
                            var idGrupo = this.value;
                            // Actualizar el valor del campo oculto para el ID del rol

                            document.getElementById('grupo').value = idGrupo;
                        });
                    </script>


                    <div class="col-md-12">
                        <div class="d-md-flex d-grid align-items-center gap-3">
                            <input type="submit" class="btn btn-primary px-4" value="Editar"/>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>