<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block
            th:include="fragments/head-fragment :: title('Editar calificacion')"
    />
</head>
<body>
<div class="wrapper">
    <th:block th:include="fragments/sidebar-fragment"/>
    <th:block th:include="fragments/header-fragment"/>
</div>

<div class="page-wrapper">
    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <h6 class="text-uppercase">Editar calificacion</h6>
                <hr/>

                <form
                        class="row g-3"
                        action="#"
                        th:action="@{/calificaciones/editar}"
                        th:object="${calificacion}"
                        method="post"
                >
                    <input type="hidden" th:field="*{id}"/>
                    <div class="col-md-4">
                        <label for="input1" class="form-label">Puntaje</label>
                        <input
                                type="number"
                                class="form-control"
                                id="input1"
                                placeholder="Puntaje"
                                th:field="*{puntaje}"
                                required
                        />
                    </div>

                    <div class="col-md-4">
                        <label for="input19" class="form-label">Alumno</label>

                        <input type="hidden" class="form-control" id="alumno" th:value="${idAlumno}"
                               th:field="*{alumno}"/>


                        <select id="input19" class="form-select" required>

                            <option th:each="alumno : ${alumnos}"
                                    th:value="${alumno.id}"
                                    th:text="${alumno.nombre}"
                                    th:selected="${  idAlumno == alumno.id}">
                            </option>
                        </select>


                        <script>
                            // Capturar el evento change del select de roles
                            document.getElementById('input19').addEventListener('change', function () {
                                // Obtener el valor seleccionado del select de roles
                                var idAlumno = this.value;
                                // Actualizar el valor del campo oculto para el ID del rol

                                document.getElementById('alumno').value = idAlumno;
                            });
                        </script>


                    </div>

                    <div class="col-md-4">
                        <label for="input120" class="form-label">Materia</label>

                        <input type="hidden" class="form-control" id="materia" th:value="${idMateria}"
                               th:field="*{materia}"/>

                        <select id="input120" class="form-select" required>

                            <option th:each="materia : ${materias}"
                                    th:value="${materia.id}"
                                    th:text="${materia.nombre}"
                                    th:selected="${  idMateria == materia.id}">
                            </option>
                        </select>

                        <script>
                            // Capturar el evento change del select de roles
                            document.getElementById('input120').addEventListener('change', function () {
                                // Obtener el valor seleccionado del select de roles
                                var idMateria = this.value;
                                // Actualizar el valor del campo oculto para el ID del rol

                                document.getElementById('materia').value = idMateria;
                            });
                        </script>

                    </div>

                    <div class="col-md-12">
                        <div class="d-md-flex d-grid align-items-center gap-3">
                            <input
                                    type="submit"
                                    class="btn btn-primary px-4"
                                    value="Editar"
                            />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
