<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block
            th:include="fragments/head-fragment :: title('Eliminar calificacion')"
    />
</head>
<body>
<div class="wrapper">
    <th:block th:include="fragments/sidebar-fragment"/>
    <th:block th:include="fragments/header-fragment"/>
</div>

<div class="page-wrapper">
    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <h6 class="text-uppercase">Eliminar calificacion</h6>
                <hr/>

                <form
                        class="row g-3"
                        action="#"
                        th:action="@{/calificaciones/eliminar}"
                        th:object="${calificacion}"
                        method="post"
                >
                    <input type="hidden" th:field="*{id}"/>
                    <div class="col-md-4">
                        <label for="input1" class="form-label">Puntaje</label>
                        <input
                                type="number"
                                class="form-control"
                                id="input1"
                                placeholder="Puntaje"
                                th:field="*{puntaje}"
                                disabled
                        />
                    </div>

                    <div class="col-md-4">
                        <label  class="form-label">Alumno</label>

                        <input type="hidden" class="form-control" id="alumno" th:field="*{alumno}"/>


                        <input type="text" class="form-control" placeholder="Nombre"
                               th:value="${alumnoNombre != null} ? ${alumnoNombre} : ''" disabled>


                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Materia</label>

                        <input type="hidden" class="form-control" id="materia" th:field="*{materia}"/>

                        <input type="text" class="form-control" id="input12" placeholder="Nombre"
                               th:value="${materiaNombre != null} ? ${materiaNombre} : ''" disabled>
                    </div>

                    <div class="col-md-12">
                        <div class="d-md-flex d-grid align-items-center gap-3">
                            <input
                                    type="submit"
                                    class="btn btn-danger px-4"
                                    value="Eliminar"
                            />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
