<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Iniciar sesión</h1>
<form method="post" th:object="${login}" th:action="@{/login}">
  <label>Nombre de usuario: </label>
  <input type="text" name="nombreUsuario" th:field="*{nombreUsuario}" /><br>
  <label>Contraseña: </label>
  <input type="password" name="contrasena" th:field="*{contrasena}"  /><br>
  <input type="submit" value="Iniciar sesión">
</form>
</body>
</html>